<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Gracias por volver!</title>
</head>
<body class="p-48 bg-gray-900">
    <p class="font-sans italic text-bold text-center text-yellow-100 text-base text-6xl hover:no-underline italic"> ¡Gracias por volver a Penguin {{data}}!</p>
    <br>
    <br>
    <a href="{{url_for('home')}}">
    <div class="container mx-auto block p-6 rounded-lg  shadow-lg bg-yellow-200 max-w-prose">
        <p class="text-black text-center font-bold visited:text-black">Volver al inicio </p>
    </div></a>
    <!-- <div class="container content-start block p-6 rounded-lg min-h-min shadow-lg bg-yellow-100 max-w-xs">
        <p class="text-black text-center font-bold visited:text-black">volver al inicio</a>
    </div> -->
    <br>
    <br>
    <script>
        setTimeout(function(){
            window.location.href = "{{url_for('home')}}";
        }, 3000);
    </script>
</body>
</html>